In [9]:
import pandas as pd

# Read data using pandas
dfpop = pd.read_csv     (r'Data/populationdata.csv')

dftemp = pd.read_csv (r'Data/temperaturedata.csv')
dftemp.head()

,name,country_name,country_code,continent,station_code,location_date,temp_mean_c,temp_min_c,temp_max_c
0,Atlanta,UnitedStates,USA,North America,KATL,4/20/2021,17.491667,12.2,23.3
1,Windsor Locks,UnitedStates,USA,North America,KBDL,4/20/2021,13.887500,3.9,22.2
2,Nashville,UnitedStates,USA,North America,KBNA,4/20/2021,15.175000,6.7,23.3
3,Boise,UnitedStates,USA,North America,KBOI,4/20/2021,9.329167,1.7,15.6
4,Boston,UnitedStates,USA,North America,KBOS,4/20/2021,16.716667,10.0,23.9

In [10]:
#check for NaN in dftemp

NaNsum = dftemp.isna().sum().sum()

#if NaN > 0, drop
if(NaNsum > 0): 
    dftemp.dropna()
    df.head()
else: 
    print('No NaNs')

No NaNs

In [11]:
from sklearn import neighbors 
from sklearn.model_selection import train_test_split

#drop name, country_name, country_code, continent
dftemp.drop(columns=[
    'name', 
    'country_name', 
    'country_code', 
    'continent'
], inplace=True)
dftemp.head()

  station_code location_date  temp_mean_c  temp_min_c  temp_max_c
0         KATL     4/20/2021    17.491667        12.2        23.3
1         KBDL     4/20/2021    13.887500         3.9        22.2
2         KBNA     4/20/2021    15.175000         6.7        23.3
3         KBOI     4/20/2021     9.329167         1.7        15.6
4         KBOS     4/20/2021    16.716667        10.0        23.9

In [12]:
import datetime as dt


dftemp['date_parsed'] = pd.to_datetime(dftemp['location_date'], infer_datetime_format=True)

#drop old dates
dftemp.drop(columns=['location_date'], inplace=True)

dftemp.head()

  station_code  temp_mean_c  temp_min_c  temp_max_c date_parsed
0         KATL    17.491667        12.2        23.3  2021-04-20
1         KBDL    13.887500         3.9        22.2  2021-04-20
2         KBNA    15.175000         6.7        23.3  2021-04-20
3         KBOI     9.329167         1.7        15.6  2021-04-20
4         KBOS    16.716667        10.0        23.9  2021-04-20

In [ ]:
import sklearn.metrics as metrics
def regression_results(y_true, y_pred): 
    #Regression metrics

    explained_variance = metrics.explained_variance_score(y_true, y_pred)
    mean_absolute_error = metrics.mean_absolute_error(y_true, y_pred)
    mse = metrics.mean_squared_error(y_true, y_pred)
    mean_squared_log_error=metrics.mean_squared_log_error(y_true, y_pred)
    r2 = metrics.r2_score(y_true, y_pred)

    print('explained_variance: ', round(explained_variance, 4))
    print('mean_squared_log_error: ', round(mean_squared_log_error,4))
    print('r2: ', round(r2,4))
    print('MAE: ', round(mean_absolute_error,4))
    print('MSE: ', round(mse,4))
    print('RMSE: ', round(np.sqrt(mse),4))